.animal{
    display: inline-block;
    width: 22%;
    vertical-align: top;
    /*border: 1px solid red;*/
    margin: 10px;
    padding: 10px;

}
.animal img{
    width:  50%;
    margin: 10px;
    padding: 10px;
}